* {
    margin-top: 1%;
}   

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
#canvas {
    /* cursor: none; */
    width: 100vw;
    height: 100vh;
    border : 4px solid;
    /* background: url('/image/bgcsss\ \(2\).png'); */
    background-size: contain;
    background: linear-gradient(to bottom,#93deff,#087ec8, darkblue);
}


button {
    display: none;
}